extends layout.pug
block content
	h1=book.title
	form(action=`/books/${book.id}` method='post')
		-if(errors){
			h2(class="error") Oooops!
			ul(class="error")
				-for( let i = 0; i < errors.length; i++ ){
					li=errors[i].message
				-}
		-}
		p
			label(for='title') Title
			input(id='title' name='title' type='text' value=`${book.title}`)
		p
			label(for='author') Author
			input(id='author' name='author' type='text' value=`${book.author}`)
		p
			label(for='genre') Genre
			input(id='genre' name='genre' type='text' value=`${book.genre}`)
		p
			label(for='first_published') First Published
			input(id='first_published' name='first_published' type='text' value=`${book.first_published}`)
		p
			input(type='submit' value='Update')
	-if( book.Loans ){
		h2 Loan History
		table
			thead
				tr
					th Book
					th Patron 
					th Loaned on
					th Return by 
					th Returned on
					th Action
			tbody
				-for(let i = 0; i < book.Loans.length; i++){
					tr
						td 
							a(href=`/books/${book.id}`) #{book.title}
						td 
							a(href=`/patrons/${book.Loans[i].Patron.id}`)=`${book.Loans[i].Patron.first_name} ${book.Loans[i].Patron.last_name}`
						td=book.Loans[i].loaned_on
						td=book.Loans[i].return_by
						td=book.Loans[i].returned_on
						td
							-if( !book.Loans[i].returned_on ){
								a(href=`/loans/${book.Loans[i].id}` class="button") Return Book
							-}
				-}
	-}