extends ../layout.pug
block content
	h1=`Patron: ${patron.first_name} ${patron.last_name}`
	form(action=`/patrons/${patron.id}` method='post')
		-if(errors){
			h2(class="error") Oooops!
			ul(class="error")
				-for( let i = 0; i < errors.length; i++ ){
					li=errors[i].message
				-}
		-}
		p
			label(for='first_name') First Name
			input(id='first_name' name='first_name' value=`${patron.first_name}` type='text')
		p
			label(for='last_name') Last Name
			input(id='last_name' name='last_name' value=`${patron.last_name}` type='text')
		p
			label(for='address') Address
			input(id='address' name='address' value=`${patron.address}` type='text')
		p
			label(for='email') Email
			input(id='email' name='email' value=`${patron.email}` type='text')
		p
			label(for='library_id') Library ID
			input(id='library_id' name='library_id' value=`${patron.library_id}` type='text')
		p
			label(for='zip_code') Zip Code
			input(id='zip_code' name='zip_code' value=`${patron.zip_code}` type='text')
		p
			input(type='submit' value='Update')
	table
		thead
			tr
				th Book
				th Patron 
				th Loaned on
				th Return by 
				th Returned on
				th Action
		tbody
			-for( let i = 0; i < patron.Loans.length; i++ ){
				tr
					td
						a(href=`/books/${patron.Loans[i].book_id}`)=`${patron.Loans[i].Book.title}`
					td
						a(href=`/patrons/${patron.id}`)=`${patron.first_name} ${patron.last_name}`
					td #{patron.Loans[i].loaned_on}
					td #{patron.Loans[i].return_by}
					td #{patron.Loans[i].returned_on}
					td
						-if( !patron.Loans[i].returned_on ){
							a(href=`/loans/${patron.Loans[i].id}` class="button") Return Book
						-}
			-}